#cloud-config
users:
  - name: admin
    ssh-authorized-keys:
      - ${admin_pub_key}
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    groups: sudo
    shell: /bin/bash

runcmd:
  - echo "Instance successfully bootstrapped from Golden Image via Terraform" > /etc/motd
